{% extends "main.html" %}
{% block content %}
<div class="container" style="margin-top: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-5"> <!-- Adjust the number as needed -->
            <h2>Create Agent</h2> <!-- Form title -->
            <form action="/new_client" method="POST">
                <div class="mb-3">
                    <label for="ip" class="form-label">IP</label>
                    <input type="text" class="form-control" id="ip" name="ip" value="{{ ip }}" oninput="updateCommand()">
                </div>
                <div class="mb-3">
                    <label for="port" class="form-label">Port</label>
                    <input type="text" class="form-control" id="port" name="port" value="{{ port }}" oninput="updateCommand()">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" oninput="updateCommand()">
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
            <p class="mt-3">Create and launch generated exe or run the following command on the client machine to connect to the server:</p>
            <div class="commandBox mt-3">
                <div id="command" class="p-2"></div>
                <button class="btn btn-secondary mt-2" onclick="copyCommand()">Copy</button>
            </div>
        </div>
    </div>
</div>
<style>
.commandBox {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
</style>
<script>
function updateCommand() {
    var ip = document.getElementById('ip').value;
    var port = document.getElementById('port').value;
    var name = document.getElementById('name').value;
    var command = `curl -O http://${ip}:${port}/client.exe && client.exe ${ip} ${port} ${name}`;
    document.getElementById('command').textContent = command;
}
function copyCommand() {
    var command = document.getElementById('command').textContent;
    if (navigator.clipboard && window.isSecureContext) {
        navigator.clipboard.writeText(command);
    }
    else {
        var textarea = document.createElement('textarea');
        textarea.value = command;
        textarea.style.position = "absolute";
        textarea.style.left = "-999999px";
        document.body.prepend(textarea);
        textarea.select();
        try {
            document.execCommand('copy');
        } catch (error) {
            console.error(error);
        } finally {
            textarea.remove();
        }
    }

}
updateCommand();  // Call the function initially to populate the command box
</script>
{% endblock %}